.color{
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: content-box !important;
    border-radius: 3px !important;
    cursor: pointer;
}

.resetBorder{
    border: none;
    outline: none;
    margin: 0;
}

.clickedBorder{
    border: 2px solid #d7c7c7;
    outline: #ffefee solid 1px;
    outline-offset: -2px;
    margin: -2px 0 0 -2px;
}