.container{
    display: flex;
    flex-flow: column;
    width: 600px;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 0;
    box-shadow: 2px 2px 20px #aaaaaa;
    transition: all 1s ease;
}
.container *{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border-radius: 0;
}
.outer-box{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.outer-box > p{
    font-size: 100px;
    text-align: center;
    color: #d7c7c7;
}