.control-panel{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.3);
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    height: 50px;

}

.control-panel *{
    color: rgba(0,0,0,0.5);
}



.filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}



.clear{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 104px;
}

.clear button{
    width: 100%;
}

