.control-panel{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.3);
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    height: 50px;

}
.control-panel *{
    color: rgba(0,0,0,0.5);
}
.control-panel button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 2px;
    border-radius: 2px;

}
.control-panel button:hover{
    border: 1px solid rgba(0,0,0,0.15) !important;
}

.filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.filters button{
    width: 33%;
}

.clear{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 104px;
}

.control-panel div:last-child button{
    width: 100%;
}

